*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    font-size: 16px;
    font-family: sans-serif;
}

.side-bar{
    
    background: rgb(0, 151, 178);
   
   backdrop-filter: blur (15px);
   
   width: 290px;
   
   height: 100vh;
   
   position: fixed;
   
   top: 0;
   
   left: -100%;

   overflow-y: auto;
   transition: 0.6s ease;
   transition-property: left;
   
   }

   .side-bar.active{
       left: 0;
   }

   .side-bar .menus{
       width: 100%;
       margin-top: 80px;
   }

   .side-bar .menus .item{
       position: relative;
       cursor: pointer;
   }

   .side-bar .menus .item a{
       color: rgb(255, 255, 255);
       font-size: 16px;
       text-decoration: none;
       display: block;
       padding: 5px 30px;
       line-height: 60px;
   }

   .side-bar .menus .item a:hover{
       background: rgb(122, 179, 200);
       transition: 0.3s ease;
   }

   .side-bar .menus .item a .dropdown{
       position: absolute;
       right: 0;
       margin: 20px;
       transition: 0.3s ease;
   }
   .side-bar .menus .item .sub-menu{
       background: rgba(148, 213, 238, 0.401);
       display: none;
   }
   .side-bar .menus .item .sub-menu a{
       padding-left: 80px;
   }

   .rotate{
       transform: rotate(90deg);
   }

.close-btn{
   position: absolute;
   color: rgb(255, 255, 255);
   font-size: 20px;
   right: 0;
   margin: 25px;
   cursor: pointer;
}

.menu-btn{
   position: absolute;
   color: rgb(9, 9, 9);
   font-size: 20px;
   margin: 25px;
   cursor: pointer;
   display: none;
}
.hero{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.header{
    background-color: white;
}
.container{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}
.header .container{
    display: flex;
    align-items: self-end;
    justify-content: space-between;
}
.header.logo img{
    vertical-align: middle;
}
.header .menu .head{
    display: none;
}
.header .menu ul{
    list-style: none;
}
.header .menu > ul > li{
    display: inline-block;
}
.header .menu > ul > li:not(:last-child){
    margin-right: 40px;
}
.header .menu .dropdown{
    position: relative;
}
.header .menu a{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    line-height: 1.5;
    display: block;
}
.header .menu >ul>li>a{
    padding: 24px 0;
}
.header .menu > ul>.dropdown>a{
    padding-right: 15px;
}
.header .menu i{
    pointer-events: none;
    user-select: none;
    position: absolute;
    color: rgb(155, 87, 233);
    top:calc(50% - 5px)
}
.header .menu >ul>li>i{
    right: 0;
}
.header .menu .sub-menu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 230px;
    padding: 15px 0;
    background-color: rgba(124, 165, 152, 0.742);
    box-shadow: 0 0 5px rgb(122, 120, 120);
    z-index: 1;
    transform-origin: top;
    transform: scaleY(0);
    visibility: hidden;
    opacity: 0;
}
.header .menu .sub-menu.dropdown> a{
    padding-right: 34px;
}

.header .menu .sub-menu a {
    padding: 6px 24px;
}
.header .menu li:hover > .sub-menu{
    opacity: 1;
    transform: none;
    visibility: visible;
    transition: all 0.5s ease;
}
.header .menu .sub-menu span{
    background-image: linear-gradient(hsl(0, 82%, 52%),hsl(0, 100%, 51%));
    background-size: 0 1px;
    background-repeat: no-repeat;
    background-position: 0 100%;
    transition: background-size 0.5s ease;
}
.header .menu .sub-menu li:hover>a>span{
    background-size: 100% 1px;

}
#logo2{
    width: 35px;
    
}
.header .menu .sub-menu i{
    transform: rotate(-90de);
}
.header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid hsla(0,0%,100%,0.2);
    z-index: 10;
    box-shadow: -1px -1px 5px 1px black;
}
.line{
    padding: 0px 0 0 0;
    border-top: 1px solid rgb(192, 192, 192);
}
.trading-text h3{

    margin-top: 8px;
    margin-left: 22px;
    font-weight: 400;
}
.trading-text{
    color: black;
    background-color: white;
    font-weight: 500; 
    line-height: 1.3;
    width: 50%;
    box-shadow:0px -1px 15px 0px black;
    position: absolute;
    bottom: 2%;
    left: 8%;
    padding: 20px;
    
}
.trading-first-img{
    height: 600px;
    width: 84%;
    margin: 9% 8% 3% 8%;
    object-fit: cover;
    position: relative;
}
.trading-second-part{
    text-align: center;
     background-color: antiquewhite;
     width: 100%;
}
.trading-second-part{
    margin: 4% 0%;
    text-align: justify;
    padding: 3%;
}
.trading-second-part h1{
    font-size: 1.5rem;
    letter-spacing: 0px;
    text-align: justify;
    padding-bottom: 0%;
}
.trading-second-part h4{
    
    color: rgb(0, 151, 178);
    padding: 2% 0 0 0;
    font-size: 150%;
    margin-bottom: 3%;
}
.trading-second-part p{
    font-size: 139%;
    color: rgb(52, 52, 52);
    line-height: 1.5;
    padding: 2% 0;
    width: 80%;
}
.trading-thrid-text h3{

    margin-top: 8px;
    margin-left: 22px;
    font-weight: 400;
}
.trading-thrid-prat{
    position: relative;
    margin: 5% 8% 3% 8%;
}
.trading-thrid-text{
    color: black;
    background-color: white;
    font-weight: 500; 
    line-height: 1.3;
    box-shadow:-1px -1px 15px -1px black;
    width: 50%;
    position: absolute;
    bottom: 5%;
    left: 0%;
    padding: 20px; 
}

.trading-thrid-img{
    height: 600px;
    width: 100%;
   
    object-fit: cover;

}
.trading-four-part{
    display: flex;
    flex-wrap: wrap;
    margin: 8% 8% 3% 8%;
    gap: 50px;
    justify-content: space-around;
}
.trading {
    width: 40%;
}
.trading h2{
    padding: 20px 0;
}


.space{
    height:130px;
}

/*form*/

.forms{
    display: flex;
    gap: 50px;
    margin: 5% 8%;
    
}
form{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.form-content{
    padding-top: 3%;
}
.form-content h4{
    font-size: 1.5rem;
    color: rgb(179, 175, 175);
}
.form-content h1{
    font-size: 2rem;
    font-weight: 100;
}
.form-first{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-last{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-name input{
    width: 250px;
    border:0;
    border:rgb(244, 241, 237) ;
    border-bottom: 1.7px solid rgb(0, 151, 178);
}
.form input{
    height: 42px;
}
.form select{
    height: 42px;
}
.form textarea{
    height: 42px;
}
.form-name{
 display: flex;
 gap: 20px;
 
}
.form-email{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-number{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-personal input{
    width: 250px;
    border: 0;
    border-bottom: 1.7px solid rgb(0, 151, 178);
}
.form-personal
{
    display: flex;
    gap: 20px;
}
.form-location{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-location input{
    width: 100%;
    border: 0;
    border-bottom: 1.7px solid rgb(0, 151, 178);
}
.form-reason{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-reason select{
    font-size: 1rem;
    width: 100%;
    border: 0;
    border-bottom: 1.7px solid rgb(0, 151, 178);
}
.form-message{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.form-message textarea{
    width: 100%;
    border: 0;
    border-radius: 0%;
    border-bottom: 1.7px solid rgb(0, 151, 178);
}
.input-message>div:last-of-type .input-message:not([type=checkbox]):not([type=radio]){
    width: 100%;
    max-width: 100%;
}
.input-message{
    resize: vertical;
    -webkit-appearance:none
}
.form-message.input-message{
    background: none;
}

.form-button{
    font-size: 1.3rem;
    background-color: rgb(0, 151, 178);
    color: white;
    border: 0;
    width: 80px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.form-button:hover{
    color:  rgb(0, 151, 178);
    background-color: white;
    border: 1px solid rgb(0, 151, 178);
    transition: 0.3s linear;
}
.end{
    background-color: rgb(0, 151, 178);
    height: 185px;
    padding-top: -2px;
    margin-bottom: -2px;
}
.end-img-1{
    display: flex;
    padding-left: 79%;
    margin-top: -3%;
    gap: 20px;
}
.end-img{
 width: 41px;
 height: 41px;
}
.end-sentence {
    width: 50%;
    padding: 7% 0 0 4%;
    color: white;
}
.end-sentence h3 a{
    text-decoration: none;
    color: white;
}


@media screen and (max-width:1200px){
    .forms{
        gap: 10px;
    }
    .trading-thrid-text{
        width: 60%;
    }
    .trading-first-img{
        margin: 13% 8% 3% 8%;
    }
    .trading-text{
        width: 60%;
    }
}

@media screen and (max-width:992px){
    .forms{
        flex-direction: column;
        gap: 50px;
        margin: 3% 3%;
    }
    .form-location input{
        width: 525px;
    }
    .form-reason select{
        width: 525px;
    }
    .form-message textarea{
        width: 525px;
    }
    form{
        align-items: center;
    }
    .trading-four-part{
        margin: 8% 3% 3% 3%;
    }
    .trading{
        width: 45%;
    }
    .trading-thrid-prat{
        margin: 10% 3% 3% 3%;
    }
    .trading-thrid-img{
        height: 500px;
    }
    .trading-thrid-text{
        width: 65%;
    }
    

    

}

@media screen and (max-width:768px){
    .trading-four-part{
        flex-direction: column;
        margin: 10% 3% 3% 3%;
    }
    .trading{
        width: 100%;
    }
    .end-img-1 {
        display: flex;
        padding-left: 67%;
        margin-top: -3%;
        gap: 20px;
    }
}

@media screen and (max-width:576px){
    form{
        align-items: unset;
    }
    .form-name{
        flex-direction: column;
    }
    .form-first input,.form-last input{
        width: 100%;
    }
    .form-personal{
        flex-direction: column;
    }
    .form-email input,.form-number input{
        width: 100%;
    }
    .form-location input{
        width: 100%;
    }
    .form-reason select{
        width: 100%;
    }
    .form-message textarea{
        width: 100%;
    }
    .trading-four-part{
        margin: 13% 3% 3% 3%;
    }
    .trading-second-part{
        margin: 10% 0;
    }
    .trading-second-part h4{
        font-size: 1rem;
    }
    .trading-second-part h1{
        font-size: 1rem;
    }
    .trading-second-part p{
        font-size: 0.8rem;
        width: 95%;
    }
    .trading-thrid-img{
        height: 400px;
    }
    .trading-thrid-text{
        width: 90%;
    }
    .trading-thrid-text h4{
        font-size: 0.8rem;
    }
    .trading-thrid-text h1{
        font-size: 1.1rem;
    }
    .trading-thrid-text p{
        font-size: 0.8rem;
    }
}

@media screen and (max-width:426px){

    .menu-btn{
        display: block;
        margin-left: 15px;
}
    
    .header{
        height: 60px;
    }
    .header .menu ul{
        display: none;
    }
    #logo2{
        padding-top: 12px;
        margin-left: 355px;
    }

    .trading-first-img {
        margin: 22% 3% 3% 3%;
        width: 95%;
        height: 400px;
    }

    .trading-second-part {
        margin: 4% 0;
    }

    .trading-text {
        color: black;
        background-color: white;
        font-weight: 500;
        line-height: 1.3;
        width: 93%;
        box-shadow: 0px -1px 15px 0px black;
        position: absolute;
        bottom: 25%;
        left: 3%;
        padding: 20px;
        font-size: 11px;
    }
    
    .form-content h4{
        font-size: 1rem;
    }
    .form-content h1{
        font-size: 1.3rem;
    }
    .trading-four-part{
        margin: 20% 3% 3% 3%;
    }
    .trading h2{
        font-size: 1.2rem;
    }
    .trading p{
        font-size: 0.9rem;
    }
    .trading-second-part{
        margin: 18% 0;
    }
    .trading-thrid-text h4{
        font-size: 0.6rem;
    }
    .trading-thrid-text h1{
        font-size: 0.8rem;
    }
    .trading-thrid-text p{
        font-size: 0.6rem;
    }
     
    .end-img-1 {
        display: flex;
        padding-left: 26%;
        padding-top: 45px;
        margin-top: -3%;
        gap: 20px;
    }
    .end-sentence {
        width: 100%;
        padding: 7% 0 0 4%;
        color: white;
}
}


@media screen and (max-width:376px){
    #logo2{
        padding-top: 12px;
        margin-left: 312px;
        display: block;
    }

}
@media screen and (max-width:321px){
    #logo2{
        padding-top: 12px;
        margin-left: 255px;
        display: block;
    }
    .container-image h1{
        bottom: 47%;
    }

}